@import "tailwindcss";
@plugin "daisyui";

.projects {
    .Card {
        position: relative;
        width: 100%;
        height: 342px;
        background-color: #5754E8;
        display: flex;
        flex-direction: column;
        justify-content: space-between ;
        padding: 6px;
        border-radius: 15px;
        overflow:hidden;
    }

    .Card .Image {
        position: relative;
        height: 240px;
        width: 100%;
        background-size: cover;
        border-radius: 15px;
    }
    .Card .Image::before {
        position: absolute;
        bottom: 0;
        left: 50%;
        height: 20px;
        width: 20px;
        background: transparent;
        border-radius: 50%;
        box-shadow: -10px 10px 0 #5754E8;
        content: '';
    }
    .Card .Image::after {
        position: absolute;
        bottom: 40px;
        left: 0;
        height: 20px;
        width: 20px;
        background: transparent;
        border-radius: 50%;
        box-shadow: -10px 10px 0 #5754E8;
        content: '';
    }

    .Card .Content {
        position: relative;
        width: 100%;
        height: 80px;
        background-color: darkslateblue;
        border-radius: 15px;
        border-top-left-radius: 0;
    }

    .Card .Content .Title {
        position: absolute;
        top: -50px;
        height: 50px;
        width: 50%;
        background-color: darkslateblue;
        border-top:10px solid #5754E8 ;
        border-right:10px solid #5754E8 ;
        border-top-right-radius: 25px;
    }
    .Card .Content .Title::before{
        position: absolute;
        width: 25px;
        height: 25px;
        background-color: transparent;
        content: '';
        border-radius: 50%;
        box-shadow: -10px -10px 0 #5754E8;
    }
    .Card .Content .Title::after{
        position: absolute;
        width: 25px;
        height: 25px;
        right: -25px;
        bottom: 0;
        background-color:transparent;
        content: '';
        border-radius: 50%;
        box-shadow: -10px 10px 0 darkslateblue;
    }
}