@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin "daisyui";

*{
  font-family: "Poppins", sans-serif;
}

.bar0{
  scrollbar-width: none;
}

.anim-div{
  animation:anim2 linear;
  animation-timeline:view();
  animation-range: entry 0% cover 40%;
}
@keyframes anim2 {
  0%{scale:0.5;opacity: 0;}
  100%{scale:1;opacity: 1;}
}
